.header {
    
    &__wrap {
        height: 108px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        flex: 1;

        & address {
            font-style: normal;
            padding: 0 5px;
        }
        
        & a {
            padding: 0 5px;
            text-decoration: none;
            color: inherit;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__time-work {
        padding: 0 5px;
    }

    &__logo {
        margin-right: 100px;
    }

    &__nav {
        background-color: $main;

        & ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;

            & li {
                padding: 16px 20px;
                position: relative;
                
                & a {
                    padding: 16px 0;
                    text-decoration: none;
                    color: inherit;
                    position: relative;
                    transition: .3s;
                    text-transform: uppercase;
                    font-weight: 500;

                    &::before {
                        content: "";
                        position: absolute;
                        
                        left: 50%;
                        bottom: 2px;
                        
                        height: 2px;
                        width: 0;
    
                        background-color: $text;
                        opacity: 0;
                        transition: all 0.2s;

                    }
                    
                    &:hover::before {
                        opacity: 1;
                        width: 100%;
                        left: 0;
                    }
                }
            }
        }
    }
}

.header__nav .menu-item-has-children {
    padding-right: 20px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 13px;
        height: 8px;
        top: 22px;
        right: 0;
        transition: all .2s ease-in-out;

        background: url("../img/menu-arrow-down.svg") no-repeat center center;

    }

    &:hover::after {
        transform: rotate(180deg);
    }

    & + .sub-menu {
        visibility: hidden;
        display: block;
        position: absolute;
        top: 55px;
        left: 0;
        z-index: 2;
        background-color: $main;
        padding: 0 10px;
        opacity: 0;
        transition: all .2s ease-in-out;
    }

    &:hover + .sub-menu {
        visibility: visible;
        display: block;
        opacity: 1;
    }
    
    & + .sub-menu:hover {
        visibility: visible;
        display: block;
        opacity: 1;
    }
}

@media (max-width: 900px) {
    .header {
        background-color: $main;

        &__content {
            display: none;
        }

        &__nav ul {
            position: fixed;
            background-color: $main;
            z-index: 10;
            width: 100%;
            flex-direction: column;

            & li {
                padding: 10px 0;

                & a.active + .sub-menu {
                    visibility: visible;
                    display: block;
                    opacity: 1;
                    position: relative;
                    top: 0;
                }
            }
        }
    }
}