html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 133%;
    font-weight: 400;
    font-style: normal;
    color: $text;
}

body.lock {
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

main {
    margin-bottom: 80px;
}
  
.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    text-decoration: none;
    display: inline-block;
}
.paragraph {
    line-height: 150%;
}

.container {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.title-main {
    color: $title;
    font-size: 36px;
    line-height: 50px;
    letter-spacing: 0.03em;
    font-family: "pribambas";
    margin: 0;
}

.title-block {
    font-family: "pribambas";
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $title;
    margin: 0;
}

.main-wrapper {
    display: flex;
    justify-content: space-between;
}

.main-content {
    margin-right: 15px;
    max-width: 821px;
}

.main-sidebar {
    width: 315px;
    margin-top: 80px;
}

.button-main {
    background-color: $accent;
    color: $white;
    padding: 15px 72px;
    border-radius: 50px;
    border: 1px solid transparent;
    transition: all 0.2s;
    &:hover {
        color: $accent;
        background-color: $white;
        border-color: $accent;
    }
}
